.job-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Bold the job title and adjust spacing */
.job-title {
    font-weight: bold;
    min-width: 50%; /* Adjust this width as needed */
}

/* Adjust spacing between employer and date */
.employer {
    font-weight: bold;
    
    text-align: center;
    flex: 1;
    transform: translate(-50%, -50%) 
}
.date {
    font-weight: bold;
    flex: 1;
    text-align: right;
    margin-left: 20px; /* Adjust the spacing as needed */
}